.diff-list {
  width: 100%;
  overflow-y: scroll !important;
}

.vertical-center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 100px;
}

@media (min-width: 767px) {
  .corrections-body {
    padding: 12px 30px 30px 30px;
  }

  .bottom-btn {
    position: absolute;
    bottom: 6px;
    right: 0;
  }
}

@media (max-width: 767px) {
  .corrections-body {
    padding: 12px 12px 36px 12px;
  }
}
