{% extends "common/base.html" %}
{% load static %}
{% block title %}
<title>FireRoad Requirements Editor</title>
{% endblock %}

{% block pagebody %}
    <div class="nav-side-menu">
      {% block nav %}
      <div class="brand">FireRoad Requirements</div>
      <i class="fa fa-angle-double-down fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list">

        <ul id="menu-content" class="menu-content collapse out">
          <li class="{% if active_id == "index" %}active{% endif %}">
            <a href="{% url 'requirements_index' %}">Format Specification</a>
          </li>

          <li  data-toggle="collapse" data-target="#majors" class="{% if "major" in active_id %}active{% else %}collapsed{% endif %}">
            <a href="#">Majors <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse {% if "major" in active_id %}in{% endif %}" id="majors">
            {% for reqlist in majors %}
            <li class="{% if active_id == reqlist.id %}active scroll-to-me{% endif %}"><a href="{% url 'edit' reqlist.id %}"><strong>{{ reqlist.short }}</strong><br/>{{ reqlist.long }}</a></li>
            {% endfor %}
          </ul>

          <li  data-toggle="collapse" data-target="#minors" class="{% if "minor" in active_id %}active{% else %}collapsed{% endif %}">
            <a href="#">Minors <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse {% if "minor" in active_id %}in{% endif %}" id="minors">
            {% for reqlist in minors %}
            <li class="{% if active_id == reqlist.id %}active scroll-to-me{% endif %}"><a href="{% url 'edit' reqlist.id %}"><strong>{{ reqlist.short }}</strong><br/>{{ reqlist.long }}</a></li>
            {% endfor %}
          </ul>

          <li  data-toggle="collapse" data-target="#other" class="{% if exists and "major" not in active_id and "minor" not in active_id %}active{% else %}collapsed{% endif %}">
            <a href="#">Other <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse {% if exists and "major" not in active_id and "minor" not in active_id %}in{% endif %}" id="other">
            {% for reqlist in other %}
            <li class="{% if active_id == reqlist.id %}active scroll-to-me{% endif %}"><a href="{% url 'edit' reqlist.id %}"><strong>{{ reqlist.short }}</strong><br/>{{ reqlist.long }}</a></li>
            {% endfor %}
          </ul>

          <li class="{% if active_id == "new_doc" %}active{% endif %}">
            <a href="{% url 'create' %}">New requirements list...</a>
          </li>
        </ul>
      </div>
    </div>
  {% endblock %}
  <div class="content">
  {% block content %} {% endblock %}
  </div>
{% endblock %}

{% block pagescripts %}
    <script type="text/javascript">
    $(document).ready(function () {
    // Handler for .ready() called.
    $('.nav-side-menu').animate({
        scrollTop: $('.scroll-to-me').offset().top - 64
    }, 'fast');
    });
    </script>
    {% block scripts %}{% endblock %}
{% endblock %}
