.editor {
  resize: none;
  border: none;
  display: table-cell;
  flex: 1; /* same as flex: 1 1 auto; */
}
.code, .editor {
  font-family: 'Inconsolata', Menlo, Monaco, Courier, monospace;
  line-height: 1.5em;
}
.code {
  padding: 2px;
}
.editor-card {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.editor-card {
  flex-grow: 1;
  margin-bottom: 32px !important;
}
.content {
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.content-full-screen {
  margin-left: 32px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
@media (min-width: 767px) {
  .edit-head {
    margin-top: 12px;
  }
  .content {
    margin-top: -64px;
    padding-top: 64px;
  }
  .content-full-screen {
    margin-top: -64px;
    padding-top: 64px;
  }
}
.mbtn:hover {
  color: #940404;
  text-decoration: none;
}
.input-field:focus {
     border-bottom: 1px solid #a10000 !important;
     box-shadow: 0 1px 0 0 #a10000 !important;
}
::-webkit-input-placeholder {    color: #996767 !important;  }
:-moz-placeholder { /* Firefox 18- */ color: #996767 !important; }
::-moz-placeholder { /* Firefox 19+ */ color: #996767 !important; }
:-ms-input-placeholder { color: #996767 !important; }

.real-ul > li {
  margin-left: 20px !important;
  list-style-type: square !important;
}

::selection {
  background-color: #f46565;
}

body, html, .content, .content-full-screen {
  height: 100%;
}

.diff-line {
  margin-bottom: -8px;
  word-wrap: break-word;
}

.insertion {
  color: rgb(48, 162, 93);
  background-color: rgba(82, 213, 134, 0.2);
  padding: 2px;
  border-radius: 2px;
}

.deletion {
  color: rgb(179, 32, 1);
  background-color: rgba(210, 47, 12, 0.2);
  padding: 2px;
  border-radius: 2px;
  text-decoration: line-through;
}

.edit-req-list-card {
  width: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.edit-req-list-row {
  display: flex;
  flex-direction: row;
   overflow: hidden;
}

.edit-req-list-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 12px;
}

.edit-req-list-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.edit-req-list {
  overflow-y: scroll !important;
}

.edit-req-list > .collection-item:hover {
    background-color: #eeeeee;
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 2500ms linear;
    transition: background-color 250ms linear;
}
