{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="{% static "requirements/css/nav.css" %}" rel="stylesheet" />
    <link href="{% static "requirements/css/req_preview.css" %}" rel="stylesheet" />
    <link href="{% static "requirements/css/editor.css" %}" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="{% static "common/css/materialize.min.css" %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "common/css/shared.css" %}" media="screen,projection"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block title %}
    <title>FireRoad</title>
    {% endblock %}
    <style>
    .header { padding: 24px 0 0 0; margin: 0; }
    .page-height { height: 100vh; }
    .bullet-list {
      list-style-type: circle !important;
      padding-left: 20px !important;
    }
    .bullet-list li { list-style-type: circle !important; }
    </style>
  </head>

  <body class="grey lighten-4">

    <ul id="dropdown1" class="dropdown-content grey lighten-4">
      <li><a class="red-text text-darken-3" href="https://github.com/venkatesh-sivaraman/FireRoad" target="_blank">iOS App</a></li>
      <li><a class="red-text text-darken-3" href="https://github.com/venkatesh-sivaraman/FireRoad-Android" target="_blank">Android App</a></li>
      <li><a class="red-text text-darken-3" href="https://github.com/venkatesh-sivaraman/fireroad-server" target="_blank">Server</a></li>
    </ul>

    {% if request.user.is_staff %}
    <ul id="dropdown3" class="dropdown-content">
      <li><a class="red-text text-darken-3" href="/admin">Django Admin</a></li>
      <li><a class="red-text text-darken-3" href="/requirements/review/">Edit Requests</a></li>
      <li><a class="red-text text-darken-3" href="/courseupdater/update_catalog/">Catalog Update</a></li>
      <li><a class="red-text text-darken-3" href="/courseupdater/corrections/">Catalog Corrections</a></li>
      <li><a class="red-text text-darken-3" href="/courseupdater/download_data/">Download Catalog Data</a></li>
    </ul>
    {% endif %}

    <div class="navbar-fixed">
      <nav class="red darken-1">
        <div class="nav-wrapper">
          <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <a href="/" class="brand-logo"><img class="logo-img hoverable" src="https://fireroad.mit.edu/catalogs/fireroad_logo.png" width="40" height="40"/>FireRoad</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/requirements">Requirements Editor</a></li>
            <li><a href="/reference">API</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">GitHub</a></li>
            <li><a href="mailto:base12apps@gmail.com">Contact</a></li>
            {% if not request.user.is_authenticated %}
            <li><a href="/login?next=%2F">Login</a></li>
            {% else %}
            {% if request.user.is_staff %}
            <li><a href="/analytics">Analytics</a></li>
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown3">Admin</a></li>
            {% endif %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>

    <ul id="dropdown2" class="dropdown-content">
      <li><a href="https://github.com/venkatesh-sivaraman/FireRoad" target="_blank">iOS App</a></li>
      <li><a href="https://github.com/venkatesh-sivaraman/FireRoad-Android" target="_blank">Android App</a></li>
      <li><a href="https://github.com/venkatesh-sivaraman/fireroad-server" target="_blank">Server</a></li>
    </ul>

    {% if request.user.is_staff %}
    <ul id="dropdown4" class="dropdown-content">
      <li><a href="/admin">Django Admin</a></li>
      <li><a href="/requirements/review/">Edit Requests</a></li>
      <li><a href="/courseupdater/update_catalog/">Catalog Update</a></li>
      <li><a href="/courseupdater/corrections/">Catalog Corrections</a></li>
      <li><a href="/courseupdater/download_data/">Download Catalog Data</a></li>
    </ul>
    {% endif %}

    <ul class="sidenav" id="mobile-nav">
      <li><a href="/requirements">Requirements Editor</a></li>
      <li><a href="/reference">FireRoad API</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">GitHub<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="mailto:base12apps@gmail.com">Contact</a></li>
      {% if not request.user.is_authenticated %}
      <li><a href="/login?next=%2F">Login</a></li>
      {% else %}
      {% if request.user.is_staff %}
      <li><a href="/analytics">Analytics</a></li>
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown4">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
      {% endif %}
      <li><a href="/logout">Logout</a></li>
      {% endif %}
    </ul>


    {% block pagebody %} {% endblock %}
    <!--JavaScript at end of body for optimized loading-->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "requirements/js/edit.js" %}"></script>
    <script type="text/javascript" src="{% static "common/js/materialize.min.js" %}"></script>
    <script type="text/javascript" src="{% static "common/js/index.js" %}"></script>
    {% block pagescripts %}{% endblock %}
  </body>
</html>
