{% extends "common/base.html" %}
{% load static %}
{% block title %}
  <title>FireRoad</title>
    <style>
    .header { padding: 24px 0 0 0; margin: 0; }
    .page-height { height: 100vh; }

    .img-wrapper {
      height: 100%;
      position: relative;
      max-width: 100%; max-height: 90%;
    }
    .image-helper  {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0px;
    }
    .product-img {
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: 0;
      display: block;
      max-width:100%;
      max-height:100%;
      width: auto;
      height: auto;
    }

    </style>
{% endblock %}

{% block pagebody %}
  <div class="row">
    <div class="col s12 m7">
      <div class="container">
        <br/><br/>
        <h4>Light your path through MIT with FireRoad.</h4>
        <p>FireRoad is the new best way to plan your path through MIT. Plan for both the upcoming semester and the years ahead, all in one place. You can view up-to-date course requirements and add them directly to your roads, and browse subjects by any criteria. FireRoad even learns from your selections to recommend other subjects you might be interested in!</p>
        <div class="card hoverable">
          <div class="card-content">
            <p class="black-text">Download the app now:</p>
            <br/>
            <p><a class="waves-effect waves-light mbtn red" href="http://itunes.apple.com/us/app/fireroad-mit-course-planner/id1330678450" target="_blank">App Store</a> <a class="waves-effect waves-light mbtn red" href="https://play.google.com/store/apps/details?id=com.base12innovations.android.fireroad&hl=en_US" target="_blank">Google Play Store</a></p>
          </div>
        </div>
        <br/>
        <div class="grey-text center">
            Created by Venkatesh Sivaraman, MIT 2020.
        </div>
      </div>
    </div>
    <div class="col s12 m5 page-height">
      <div class="img-wrapper">
        <span class="img-helper"><img src="{% static "common/img/combined_img.png" %}" class="product-img"/></span>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
