{% extends "common/auth_base.html" %}
{% load static %}

{% block pagebody %}
<div id="par">
  <h2 id="heading">Sync and Recommendations</h2>
  <p>Would you like to <strong>sync your roads and schedules</strong> with CourseRoad and across your devices? FireRoad will also provide you with <strong>personalized suggestions</strong> based on your subject selections.</p>
  <p>Tap <i>Allow and Continue</i> to enable this feature. You can also do so later in the settings view.</p>
  <p class="fineprint">Sync and Recommendations requires MIT credentials. By enabling this feature, you are allowing FireRoad to store your <strong>roads, schedules, and subject ratings</strong> on a secure MIT server. FireRoad uses various machine learning algorithms to provide you with subject recommendations and to improve other users' recommendations anonymously. Recommendations are solely suggestions - please consult with faculty and course administrators for the most reliable and up-to-date information.</p>
</div>
<div id="buttons" class="row">
  <a class="mbtn waves-effect waves-light red white-text" href="/login?sem={{ sem }}">Allow and Continue</a>
  <a class="mbtn waves-effect waves-light grey white-text" href="{% url 'decline' %}">Not Now</a>
</div>

{% endblock %}
