{% extends "common/base.html" %}
{% load static %}
{% block title %}
<title>FireRoad Catalog Corrections</title>
<link href="{% static "courseupdater/css/style.css" %}" rel="stylesheet" />
<link href="{% static "requirements/css/editor.css" %}" rel="stylesheet" />
{% endblock %}

{% block pagebody %}
<div class="corrections-body">
  <div class="row" style="position: relative;">
    <div class="col m8 red-text text-darken-4">
      <h4>Catalog Corrections</h4>
    </div>
    <a class="bottom-btn waves-effect waves-light mbtn red" href="new"><i class="material-icons">add</i> New Correction</a>
  </div>
  <div class="row">
    <ul class="collection">
      {% for correction in diffs %}
      <li class="collection-item">
        <a href="delete/{{ correction.id }}" class="btn waves-effect waves-light mbtn red darken-2 right">Delete</a>
        <a href="edit/{{ correction.id }}" class="btn waves-effect waves-light mbtn grey right">Edit</a>
        <h6>{{ correction.subject_id }}</h6>
        {% for key, diff in correction.diff.items %}
        <p><strong>{{ key }}</strong>&nbsp;&nbsp;{% if diff.0 %}<span class="deletion">{{ diff.0 }}</span>{% endif %}<span class="insertion">{{ diff.1 }}</span></p>
        {% endfor %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
