{% extends "common/base.html" %}
{% load static %}
{% block title %}
<title>FireRoad Catalog Update</title>
<link href="{% static "courseupdater/css/style.css" %}" rel="stylesheet" />
{% endblock %}

{% block pagebody %}
  <div class="center vertical-center">
    There is currently no catalog update in progress. Enter a semester name to start one.
    <br/>
    <br/>
    <form id="form" method="post">
      {% csrf_token %}
      {{ form.semester }}
      <span class="red-text text-darken-4">{{ form.semester.errors }}</span>
      <br/>
      <br/>
      <label>
        {{ form.designate_virtual_status }}
        <span class="black-text">{{ form.designate_virtual_status.label }}</span>
      </label>
      <br/>
      <br/>
      <button class="btn mbtn red waves-effect waves-light" type="submit" name="action">Start</button>
      {{ form.non_field_errors }}
    </form>
  </div>
{% endblock %}
