.chart-card {
  padding: 8px 16px 16px 16px;
}

@media (min-width: 767px) {
  .analytics-body {
    padding: 12px 30px 30px 30px;
  }
}

@media (max-width: 767px) {
  .analytics-body {
    padding: 12px 12px 36px 12px;
  }
}

.floating-indicator {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
