@media screen and (min-width: 480px) {
  #par {
    width: 60%;
    margin: auto;
  }
}
@media screen and (max-width: 480px) {
  #par {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  h2 {
    font-size: 2.5em;
  }
}

p {
  font-weight: 300;
}

#buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mbtn {
  margin: 12px;
}

.fineprint {
  font-size: 0.7em;
}

