.nav-side-menu {
  overflow: auto;
  font-size: 14px;
  font-weight: 300;
  background-color: white;
  position: fixed;
  top: 0;
  width: 300px;
  color: #bb2222;
  border-right: 1px solid #dddddd;
}
.nav-side-menu .brand {
  background-color: white;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  margin: 0px;
  /*line-height: 44px;*/
  cursor: pointer;
}
.nav-side-menu ul {
  padding: 0;
}
.nav-side-menu li {
  padding: 8px 0 8px 0;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #f54c3b;
  background-color: white;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #f54c3b;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #f54c3b;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: white;
  border: none;
  /*line-height: 32px;*/
  border-bottom: 1px solid #dddddd;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #ffddd9;
}
/*.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}*/
.nav-side-menu li {
  padding-left: 0px;
  display: block;
  border-left: 3px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.nav-side-menu li a {
  text-decoration: none;
  padding-left: 30px;
  display: block;
  color: #bb2222;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #f45a48;
  background-color: #ffddd9;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #ddd;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 24px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .content {
    margin-left: 0;
    padding: 0 16px 0 16px;
    width: 100%;
  }
}
@media (min-width: 767px) {
  .nav-side-menu {
    height: 100%;
    padding-top: 64px;
  }
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  .content {
    padding-left: 300px;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.collapse {
    display: none
}

.collapse.in {
    display: block
}

tr.collapse.in {
    display: table-row
}

tbody.collapse.in {
    display: table-row-group
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    -o-transition: height .35s ease;
    transition: height .35s ease
}
