.logo-img {
  vertical-align: middle;
  margin-top: -5px;
}
.nav-wrapper {
  padding-left: 12px;
}
.mbtn {
  margin: 8px;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

a {
  color: rgb(224, 20, 20);
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 100px;
}
