.logo-img {
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 12px;
}
@media screen and (max-width: 480px) {
  .logo-img {
    margin-right: 2px !important;
  }
}
.nav-wrapper {
  padding-left: 12px;
}
.mbtn {
  margin: 8px;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

a {
  color: rgb(224, 20, 20);
}
