{% extends "syllabus/base.html" %}
{% block content %}
<div class="row syllabus-head">
  <div class="col s12">
    <h2 class="red-text text-darken-4">FireRoad Syllabus System</h2>
    <p>The Fireroad Syllabus System allows you to view and submit syllabi for the classes, used in FireRoad and CourseRoad. You can view current and past syllabi for courses and submit a syllabus for any class you are taking or have taken.<p>
    <p class="red-text text-darken-4"><strong>Use the navigation menu to view syllabi or submit a new syllabus.</strong></p>
  </div>
</div>
{% endblock %}
